.bgd{
  background-image: url(/src/img/bg_insideout.jpeg);
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size:cover ;
}
  
p{
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-bottom: 0px;
}
.logoimg{
    filter: grayscale(100%) invert(1);
    margin-top: 90px;
    margin-left: 15%;
    width: 70%;
    height: auto;
}
.botn {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 2% 4%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5%;
  }
  .botn:hover{
transform: scale(1.05);
  }
  .botn1 {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 5px;
    padding: 1.8% 4%;
    border: 1px solid white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 3%;
  }
  .botn1:hover{
transform: scale(1.05);
border-color: rgba(249, 249, 249, 0.8);
      }
  .btn-round {
    width: 57px;
    height: 57px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    margin-left: 3%;
    align-items: center;
  }
  .btn-ronud {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.924);
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    margin-left: 1.5%;
    align-items: center;
  }
  .add{
    padding: 0;
  }
  .row{
    padding-top: 3%;
    margin-right: 0px;
  }
  .c13{
    padding-right: 0px;
  }