.navbar-custom {
    background-color: #020821;
    color: white;
  }
.logdis{
    padding-right: 25px;
    width: 120px;
    max-width: 220px;
    height: auto;

}
.btnlog{
    color: #ffffff;
    background-color: #000000;
    border: 1px solid white;
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 15px;
}
.btnlog:hover{
    color: #000000;
    background-color: #ffffff;
   border-color: transparent;
}
.nav-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
}
.nav-link:hover {
    display: block;
    color: #d2d2d2;
    text-decoration: none;
}
svg{
    padding-right: 5px;
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
        margin-left: 50px;
    }
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    margin-right: 0px;
}
.navbar>.container {
    margin-right: 100px;
  }
  